@import "tailwindcss";

.sidebar {
  background-color: white;
  border-right: #e4d5b4 solid 2.5px;
}

.newChatBtn {
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 2.5% 0%;
}

.titleHistory {
  margin: 2.5% 0%;
  background-color: white;
  color: gray;
}

.sendBtn {
  color: white;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(0, 0, 174);
  width: 10%;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: rgb(0, 0, 115);
  transition: all ease-in-out .3s;
}

.stopBtn {
  color: white;
  border-radius: 10px;
  padding: 5px;
  background-color: red;
  width: 10%;
  cursor: pointer;
}

.stopBtn {
  background-color: rgb(184, 0, 0);
  transition: all ease-in-out .3s;
}

.formEle {
  border-right: #e4d5b4 solid 2.5px;
  justify-content: center;
}

.formEle input {
  border: #e4d5b4 1px solid;
  border-radius: 10px;
  padding: 10px;
}